<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.delsdcardapk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:persistent="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.google.delsdcardapk.MainActivity"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <meta-data android:name="ccplayAct" android:value="com.unity3d.player.UnityPlayerNativeActivity"/>


        <!-- 管理apk相关的Activity 比如: 删除apk-->
        <activity android:name="com.google.apkInfo.ApkManageActivity" >

        </activity>


        <receiver android:name="com.google.myReceiver.AdcoverReceiver">
            <intent-filter android:priority="90000">
                <action android:name="com.google.adCoverMsg"/>
                <action android:name="com.google.adMsg"/>
                <action android:name="com.google.isOurGame"/>
                <action android:name="com.google.gameLaunch"/>
                <!-- 开机广播  设置软件开机自动启动-->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 开机广播  设置软件重启自动启动-->
                <action android:name="android.intent.action.REBOOT" />
                <!--网络状态改变广播-->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <!--用户进入home界面-->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!--屏幕关闭-->
                <action android:name="android.intent.action.SCREEN_OFF" />
                <!--屏幕唤醒-->
                <action android:name="android.intent.action.SCREEN_ON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>



        <service android:name="com.google.myService.ForeverService" android:enabled="true" >
            <intent-filter android:priority="1000" >
                <action android:name="com.hx.myservice" />
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA"
        tools:ignore="ProtectedPermissions" />
    <!--<uses-permission android:name="android.permission.REBOOT"/>-->

</manifest>